body{
    background-image: url("https://i.stack.imgur.com/cGIFX.jpg");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
}
h1{
    margin: 60px auto 10px auto;
}
h2{
    font-size: 20px;
    font-weight: 100;
}
main{
    width: 550px;
    max-width: 80%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 2.5% 5% 2.5% 5%;
}
p{
    padding-top: 10px;
    padding-bottom: 0px;
}
input[type="text"]{
    width: 100%;
    border-radius: 5px;
    height: 30px;
    border-color: lightgray;
    border-width: 1px;
}
select{
    width: 100%;
    border-radius: 5px;
    height: 30px;
    border-color: lightgray;
    border-width: 1px;
}
.radios{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}
label{
    padding-bottom: 5px;
}
button{
    width: 100%;
    border-radius: 5px;
    height: 50px;
    border-color: lightgray;
    color: white;
    background-color: green;
    border-width: 1px;
}